<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}" class="font-sans leading-7">
<head>
  {{ partial "head.html" . }}
  {{ partial "css.html" . }}
</head>
<body class="bg-neutral-100">
  <header class="rounded-md sticky top-0 opacity-95 backdrop-blur-3xl">
    {{ partial "header.html" . }}
  </header>
  <main class="mx-auto max-w-3xl p-6 m-6 rounded-md">
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="text-center p-2">
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
